* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.allbody {
    margin: 100px auto;
    width: 585px;
    height: 70vh;
    background-color: #f4dbb0;
    border-radius: 30px;
}
h2 {
    text-align: center;
    padding-top: 30px;
    color: #e59a18;
    text-shadow: 0 0 1px black;
    font-size: 35px;
}
.input {
    text-align: center;
    padding-top: 20px;
    position: relative;
}
#inp {
    height: 35px;
    font-size: 15px;
    border-radius: 30px;
    width: 400px;
    padding-left: 10px;
    transition: .5s ease-in;
    border: 0;
}
#inp:focus {
    background-color: #f4dbb0;
}
#sub {
    font-size: 22px;
    width: 70px;
    border: 1px solid white;
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 98px;
    background-color: #e59a18;
}
ol {
   margin-left: 125px;
   margin-top: 30px;
   font-size: 25px;
}
